<?xml version="1.0" ?>
<ruleset name="WPCM Cricket">
	<file>.</file>
	<exclude-pattern>vendor/</exclude-pattern>
	<exclude-pattern>node_modules/</exclude-pattern>
	<exclude-pattern>release/</exclude-pattern>
	<exclude-pattern>languages/</exclude-pattern>
	<exclude-pattern>tests/</exclude-pattern>
	<exclude-pattern>phpstan-stubs/</exclude-pattern>
	<arg name="extensions" value="php"/>
	<config name="minimum_supported_wp_version" value="4.9"/>
	<rule ref="WordPress">
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment"/>
		<exclude name="Squiz.Commenting.FunctionComment.EmptyThrows"/>
		<exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop"/>
		<exclude name="Squiz.Commenting.FunctionComment.ThrowsNoFullStop"/>
		<exclude name="Generic.Commenting.DocComment.ShortNotCapital"/>
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>
		<exclude name="WordPress.NamingConventions.ValidFunctionName"/>
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_key"/>
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_value"/>
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_query"/>
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_tax_query"/>
		<exclude name="WordPress.WhiteSpace.PrecisionAlignment.Found"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments"/>
		<exclude name="Squiz.Commenting.FunctionComment.Missing"/>
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
		<exclude name="Squiz.Commenting.ClassComment.Missing"/>
		<exclude name="WordPress.Security.EscapeOutput.OutputNotEscaped"/>
		<exclude name="WordPress.Security.EscapeOutput.UnsafePrintingFunction"/>
		<exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment"/>
	</rule>
</ruleset>
