includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    bootstrapFiles:
        - phpstan-stubs/wpcm.php
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - release
        - languages
        - tests